html {
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
  --white: white;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--Violet);
  margin: 0px auto;
  font-size: 1.6rem;
  background-image: url(/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}
.container {
  color: var(--white);
  padding: 4rem;
  max-width: 60rem;
  margin: 0 auto;
  max-width: 100rem;
}

.container__logo {
  max-width: 12rem;
  margin-bottom: 5rem;
}

.container__logo img {
  width: 100%;
}

.container__content__img {
  margin-bottom: 7rem;
}

.container__content__img img {
  width: 100%;
}

.container__content__desc {
  text-align: center;
}

.container__content__desc h1 {
  font-size: 2.6rem;
  line-height: 1.5;
}

.container__content__desc p {
  font-size: 1.45rem;
  line-height: 1.6;
}

.container__content__btn{
    margin-top: 3.5rem;
    
}

.container__content__btn a {
    text-decoration: none;
    background-color: var(--white);
    color: var(--Violet);
    border: 1px solid var(--white);
    padding: 1rem 7rem;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container__content__btn:hover a{
    background-color: var(--Soft-Magenta);
    border: 1px solid var(--Soft-Magenta);
    color: var(--white);
}

.container__social{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.container__social__img{
    display: grid;
    place-content: center;
    margin-right: 1.5rem;
    width: 3rem;
    height: 3rem;
    border: 1.5px solid white;
    border-radius: 50%;
}

footer{
    color: var(--white);
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.attribution a{
    text-decoration: none;
    color: var(--Violet);
    background-color: var(--Soft-Magenta);
    border-radius: 3rem;
    padding: 0.5rem 1rem;
}


@media screen and (min-width:1000px) {

    body{
        background-image: url(/images/bg-desktop.svg);
        background-size: cover;
    }

    .container {
        max-width: 144rem;
        padding: 8rem;
    }

    .container__logo {
        max-width: 18rem;

      }

    .container__content{
        display: flex;
        justify-content: center;
        gap: 5rem;
    }

    .container__content__img{
        flex: 1;
    }

    .container__content__desc{
        flex: 1;
        text-align: start;
    }

    .container__content__desc h1{
        font-size: 2.2vw;
        padding: 0 20rem 0 0;
    }

    .container__content__desc p{
        font-size: 1.1vw;
        padding: 0 12rem 0 0;
    }

    .container__social{
        justify-content: end;
    }
}
